.contact_us
{
position: absolute;
background:no-repeat;
padding: 50px;
width:550px;
height: 830px;
background-color: #FAFAFA;
top: -110px;
left: 130px;
z-index: 0;
border: #C9C9C9 solid thin;
border-radius: 15px;
box-shadow: 0px 0px 5px #878787;
}

textarea
{
    position:relative;
  background-color: #F6F5F1;
  border: thin #999999 solid;
}

.pic_contact
{
background: url(../images/contact.png) no-repeat ;
width: 139px;
height: 99px;
position: absolute;
top: -142px;
left: 712px;
z-index: 1;

}
