.kids_playing
{
  background: url(../images/kids_game.png) no-repeat transparent ;
  position: relative;
  width: 510px;
  height: 350px;
  left:220px;
  top:-190px;

}
.hr_4
{
  position: relative;
  top: 180px;
  color: #C9C9C9;
  alignment-adjust: central;
  width: 850px;
}

.sample
{
  position: relative;
  background-image: url(../images/sample_pazzel.png);
  width:200px;
  height: 150px;
  left: 50px;
  top: -150px;
}

.pazzel_1
{
  position: absolute;
  top:300px;
  left: 304px;
  width: 100px;
  height: 150px;
  margin: 0px;
}

.pazzel_2
{
  position: absolute;
  top:300px;
  left: 404px;
  width: 100px;
  height: 150px;
}

.pazzel_3
{
  position: absolute;
  top:300px;
  left: 504px;
  width: 100px;
  height: 150px;
}

.pazzel_4
{
  position: absolute;
  top:300px;
  left: 604px;
  width: 100px;
  height: 150px;
}

.pazzel_5
{
  position: absolute;
  top:450px;
  left: 304px;
  width: 100px;
  height: 150px;
}

.pazzel_6
{
  position: absolute;
  top:450px;
  left: 404px;
  width: 100px;
  height: 150px;
}

.pazzel_7
{
  position: absolute;
  top:450px;
  left: 504px;
  width: 100px;
  height: 150px;
}

.pazzel_8
{
  position: absolute;
  top:450px;
  left: 604px;
  width: 100px;
  height: 150px;
}

.barber
{
  background: url(../images/barber.png) no-repeat ;
  position: absolute;
  left:100px;
  top:800px;
  float: left;
  border: thin solid #000000 6px;
  box-shadow: 0px 0px 3px #000000;
  width: 300px;
  height: 300px;
  background-color: #EDEDED;
}

.barber:hover
{
  background: url(../images/barber.png) no-repeat;
  position: absolute;
  top:800px;
  left:100px;
  float: left;
  border: thin solid #000000 6px;
  box-shadow: 0px 0px 5px #FF0000;
  width: 300px;
  height: 300px;
  background-color: #EDEDED;
}

.home
{
  background: url(../images/home.png) no-repeat;
   position: absolute;
  left:530px;
  top:800px;
  float: left;
  border: thin solid #000000 6px;
  box-shadow: 0px 0px 3px #000000;
  width: 300px;
  height: 300px;
  background-color: #EDEDED;
}

.home:hover
{
   background: url(../images/home.png) no-repeat;
  position: absolute;
  top:800px;
  left:530px;
  float: left;
  border: thin solid #000000 6px;
  box-shadow: 0px 0px 5px #FF0000;
  width: 300px;
  height:300px;
  background-color: #EDEDED;
}
