
/*FONT*/

@font-face
{
	font-family: 'ava';
	src: url('fonts/DastNevis.eot');
	src: local('☺'), url('fonts/DastNevis.woff') format('woff'), url('fonts/DastNevis.ttf') format('truetype'), url('fonts/DastNevis.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

p
{
  font-family: 'ava';
  color:#999999;
}

.a_link:link, .a_link:visited
{
   display: inline;
   width: 150px;
   text-decoration: none;
   color: #999999;
   position: relative;
   font-family: ava;
   text-align: right;
   font-size: smaller;


}
.a_link:active, .a_link:hover
{
   display: inline;
   width:150px;
   text-decoration: none;
   color: #FF0000;
   position: relative;
   font-family: ava;
   text-align: right;
   font-size: smaller;


}

.hr_1
{
  position: relative;
  top: -170px;
  color: #C9C9C9;
  alignment-adjust: central;
  width: 850px;
}

.hr_2
{
  position: relative;
  top: -200px;
  color: #C9C9C9;
  alignment-adjust: central;
  width: 850px;
}

.hr_3
{
  position: relative;
  top: 480px;
  color: #C9C9C9;
  alignment-adjust: central;
  width: 850px;
}


.kids_watching
{
  background: url(../images/watching-tv.png) no-repeat transparent ;
  position: relative;
  width: 510px;
  height: 350px;
  left:200px;
  top:-190px;

}

/*------------------------------------Videos------------------------------------------------------*/


.video_1
{
  position: absolute;
  left:100px;
  top:230px;
  float: left;
  border: thin solid #000000 6px;
  box-shadow: 0px 0px 3px #000000;
  width: 300px;
  height: 250px;
  background-color: #EDEDED;
}

.video_1:hover
{
  position: absolute;
  top:230px;
  left:100px;
  float: left;
  border: thin solid #000000 6px;
  box-shadow: 0px 0px 5px #FF0000;
  width: 300px;
  height: 250px;
  background-color: #EDEDED;
}


.video_2
{
  position:absolute;
  left:540px;
  top:230px;
  float: left;
  border: thin solid #000000 6px;
  box-shadow: 0px 0px 3px #000000;
  width: 300px;
  height: 250px;
  background-color: #EDEDED;
}

.video_2:hover
{
  position:absolute;
  left:540px;
  top:230px;
  float: left;
  border: thin solid #000000 6px;
  box-shadow: 0px 0px 5px #FF0000;
  width: 300px;
  height: 250px;
  background-color: #EDEDED;
}


.video_3
{
  position: absolute;
  left:100px;
  top:530px;
  float: left;
  border: thin solid #000000 6px;
  box-shadow: 0px 0px 3px #000000;;
  width: 300px;
  height: 250px;
  background-color: #EDEDED;
}


.video_3:hover
{
  position: absolute;
  left:100px;
  top:530px;
  float: left;
  border: thin solid #000000 6px;
  box-shadow: 0px 0px 5px #FF0000;
  width: 300px;
  height: 250px;
  background-color: #EDEDED;
}


.video_4
{
  position: absolute;
  left:540px;
  top:530px;
  float: left;
  border: thin solid #000000 6px;
  box-shadow: 0px 0px 3px #000000;
  width: 300px;
  height: 250px;
  background-color: #EDEDED;
}

.video_4:hover
{
  position: absolute;
  left:540px;
  top:530px;
  float: left;
  border: thin solid #000000 6px;
  box-shadow: 0px 0px 5px #FF0000;
  width: 300px;
  height: 250px;
  background-color: #EDEDED;
}

/*------------------------------------Audios------------------------------------------------------*/

.audio_1
{
  position: absolute;
  width: 300px;
  height: 110px;
  left:100px;
  top:930px;
  float: left;
  border: thin solid #000000 5px;
  box-shadow: 0px 0px 3px #000000;
  background-color: #EDEDED;
  border-radius: 10px;
}

.audio_1:hover
{
  position: absolute;
  width: 300px;
  height: 110px;
  left:100px;
  top:930px;
  float: left;
  border: thin solid #000000 5px;
  box-shadow: 0px 0px 5px #FF0000;
  background-color: #EDEDED;
  border-radius: 10px;
}

.audio_2
{
  position:absolute;
  left:540px;
  top:930px;
  float: left;
  border: thin solid #000000 5px;
  box-shadow: 0px 0px 3px #000000;
  width: 300px;
  height: 110px;
  background-color: #EDEDED;
  border-radius: 10px;
}

.audio_2:hover
{
  position:absolute;
  left:540px;
  top:930px;
  float: left;
  border: thin solid #000000 5px;
  box-shadow: 0px 0px 5px #FF0000;
  width: 300px;
  height: 110px;
  background-color: #EDEDED;
  border-radius: 10px;
}

.audio_3
{
  position: absolute;
  width: 300px;
  height: 110px;
  left:100px;
  top:1090px;
  float: left;
  border: thin solid #000000 5px;
  box-shadow: 0px 0px 3px #000000;
  background-color: #EDEDED;
  border-radius: 10px;
}

.audio_3:hover
{
  position: absolute;
  width: 300px;
  height: 110px;
  left:100px;
  top:1090px;
  float: left;
  border: thin solid #000000 5px;
  box-shadow: 0px 0px 5px #FF0000;
  background-color: #EDEDED;
  border-radius: 10px;

}


.audio_4
{
  position:absolute;
  left:540px;
  top:1090px;
  float: left;
  border: thin solid #000000 5px;
  box-shadow: 0px 0px 3px #000000;
  width: 300px;
  height: 110px;
  background-color: #EDEDED;
  border-radius: 10px;

}

.audio_4:hover
{
  position:absolute;
  left:540px;
  top:1090px;
  float: left;
  border: thin solid #000000 5px;
  box-shadow: 0px 0px 5px #FF0000;
  width: 300px;
  height: 110px;
  background-color: #EDEDED;
  border-radius: 10px;

}

.pic_audio
{
  position: relative;
  top:-70px;
  left:10px ;
}
